html {
	overflow-y: scroll;
}			

/*  DONT THIS IS NEEDED
body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
*/
body {
	font-size:11px;
}

/*############## TRAJECTORY PLOT ###############################################################*/
.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text, 
#specPlotIndex {
	font-family: sans-serif;

}

#plot{
	border:1px solid #afafaf;;
	border-radius: 4px;
}

circle{
	cursor: pointer;
}

circle.selected{
	stroke:#ED2939; /*'#FF0000;*/
	stroke-width:1;
}

circle.highlight{
	stroke:#32CD32; /*'#FF0000;*/
	stroke-width:5;
}

circle:hover{
	stroke:#ED2939; /*'#FF0000;*/
	stroke-width:1;
}

svg{
	margin:-1px;
	cursor: n-resize;
	display: block;
}
#plotLine{
	stroke:#ED2939; /*'#FF0000;*/
	stroke-width:2px;
	fill:none;
	
}
/*###########################################################################################*/




/*############## CHIP GALLERY ###############################################################*/
#chip-gallery{
	height:565px;
	width:auto;
	overflow-y: auto;
}
#chip-gallery canvas{
	display:inline;
	margin:3px;
	vertical-align:top;
	cursor: pointer;
	border: 2px solid white; /*#dbdbdb*/
}
#chip-gallery .selected{
	border: 2px solid black;
}
/*#################################################################################################*/



#img-gallery{
	display:none;
}


/*############## SECTION COMPONENTS ###############################################################*/
#topSection{
	/*width:100%;*/
	margin:10px 10px -5px 10px;
	box-shadow: 1px 1px 1px grey;
	vertical-align:top;
	border:1px solid #afafaf; /*#dbdbdb;*/
	border-radius: 4px;
}

#topSection p{
	margin-bottom:5px;
}

#title{
	font-weight:bold;
	font-size:12px;
	padding-left:3px;
	margin:0px 40px 0px 0px;
	
}

#chipInputs{
	margin-top:5px;
}

#chipSizeDiv{
	margin-right:15px;
}

.chipInputsEdit{
	border:1px solid #afafaf; 
	width:30px; 
	height:16px;
	padding-left:3px;
	cursor:pointer;
}

#containerDiv{
	display:table;
	border-spacing: 5px;
	margin:5px;
}

#containerDiv div{
	
	
	/*margin: 5px;*/
}

#plotSelectionDiv{
	min-width:70px;
	height:%;
	
}
#plotSelectionDiv ul{
	list-style-type: none;
 	padding-left:0px;
	margin:0px;
	height:281px;
	overflow-y: scroll;
}
.plotList{
	padding-left:3px;
	cursor:pointer;
}
.plotList.selected{
	background-color:#F1F1F1;
}

#chipGallerySection{
	border:1px solid #afafaf; 
	border-radius: 4px; 
	margin:-5px 10px 10px 10px; 
	box-shadow: 1px 1px 1px grey;
}

.test{
	text-align: right;
	margin-top:1px;
	padding-left:0px;
	margin-bottom:0px;
	margin-right:-1px;
}
.test li{
	text-align: left;
	width: 75px;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	border: 1px solid #afafaf;
	cursor: pointer;
}

.test li.selected{
	background-color:#f1f1f1;
}

.header{
	padding-left:3px;
	font-size: 12px;
	font-weight: bold;
	/*background:#f1f1f1;*/
	margin-bottom:1px;
	padding-bottom:3px;
	
}
.subHeader{
	padding-left:3px;
	font-weight: bold;
	margin-bottom:1px;
	padding-bottom:3px;
}

.sectionDiv{	
	display: table-cell;
	vertical-align:top;
	border:1px solid #afafaf;
	border-radius: 4px;
	box-shadow: 1px 1px 1px grey;
}

#commentsSection{
	width:100%;
}


tr.active{
	background-color:#32CD32;
}
/*#########################################################################################*/


#changeProcessList{
	display:none;
}
.formDropSelection{
	border:1px solid #afafaf;
	margin:0px 3px 3px 3px; /*0px,3px,3px,3px*/
	cursor:pointer;
	padding-left:3px;
	height:20px;
	
}
#changeProcessList {
	border:1px solid #afafaf;
	border-radius:0px 0px 4px 4px;
	margin:-4px 3px 3px 3px;
	display:none;
}

#changeProcessList  ul{
	list-style-type: none;
 	padding-left:0px;
	margin:0px;
	font-size: 11px;
}
#notesList{
	border:1px solid #afafaf;
	border-radius:0px 0px 4px 4px;
	margin:-4px 3px 3px 3px;
	list-style-type: none;
 	padding-left:0px;
	font-size: 11px;
	height:67px;
}





/*############## VERTICES FORM ####################################################*/
#landUseList li{
	padding-left:3px;
	cursor:pointer;	
}
#landUseList {
	border:1px solid #afafaf;
	border-radius:0px 0px 4px 4px;
	margin:-4px 3px 3px 3px;
	display:none;
}

#landUseList  ul{
	list-style-type: none;
 	padding-left:0px;
	margin:0px;
	font-size: 11px;
}

#landUseBtn{
	width:200px;
	margin-left:3px;
}

#otherLandUseList{
	list-style-type: none;
 	padding-left:0px;
	margin:0px;
	padding-left:3px;
}
#dominantChkBx{
	margin-left:3px;
}
.doneBtn{
	border:1px solid #afafaf;
	border-radius:4px;
	margin:7px 3px 3px 3px;
	text-align:center;
	font-weight: bold;
	cursor:pointer;
	height:40px;
	padding-top:10px;
}
.doneBtn:hover{
	background-color:#f1f1f1;
}
/*#dominantUse{
	border:1px solid #afafaf;
	margin:3px;
	cursor:pointer;
	padding-left:3px;
	height:20px;
}*/

.formDrop{
	cursor:pointer;
}
/*#landUseDiv{
	background-color:#f6f6f6;
}*/
/*#########################################################################################*/

/*############## COMMENTS SECTION ####################################################*/
.listFormat{
	list-style-type: none;
 	padding-left:0px;
	margin:0px;
}



.tableDisplay{
	display:table;
	border-spacing: 0px;
	margin-left:3px;
}

.tableDisplayCell{
	display: table-cell;
	vertical-align:top;
}




#commentsChkBxDiv p{
	margin-left:-3px;
}

#uncertaintyDiv{
	margin-top:10px;
}


#commentInput{
	height:250px;
	width:98%;
}

#commentInputDiv{
	padding-left:15px;
	
}

/*############## TRAJECTORY PLOT BUTTONS ####################################################*/
li:hover{
	background-color:#f1f1f1;
}

.dropdown-menu .active{
	background-color:#dbdbdb;
}
.dropdown-menu.plot li{
	font-size:11px;
	padding-left:5px;
	cursor:pointer;
	width:99px; /*substract 1 from .dropdown button width because of border*/
	
}
.dropdown-menu.plot {
	margin-top: 0;
	min-width:0px;
}


.btn-default:focus{
	background-color:white;
}

.dropdown button{
	width:100px;
	border: 1px solid #afafaf;
}			

.specPlotBtn{
	border: 1px solid #afafaf;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.specPlotBtn{
	font-size:11px;
	text-align: left;
	padding-left:5px;
	padding-top:0px;
	padding-bottom:1px;
}

.buttonText{margin-right:2px;}

.caret {
	position: absolute;
	left: 80%;
	top: 65%;
}

/*#########################################################################################*/



/*############## SEGMENTS TABLE ###########################################################*/
table, th, td {
	margin:-1px;
	border: 1px solid #afafaf;
	border-collapse: collapse;
	
}


table td, table th{
	padding-left:3px;
}
#segmentsFormTbl, #verticesFormTbl{width:350px}

#verticesFormDiv{
	display:none;
}

.trHeader{
	background-color:#f1f1f1;
}

#changeProcessList ul{
	
	list-style-type: none;
 	padding-left:0px;
	margin:0px;
	
}


.dropThis{
	display:none;
	background-color:white;
	border:1px solid #afafaf;
	border-radius:0px 0px 4px 4px;

}
.dropThis ul{
	list-style-type: none;
 	padding-left:0px;
	margin:0px;
	margin-bottom:3px;
}
.dropThis li{
	padding-left:3px;
	cursor:pointer;
}

/*#########################################################################################*/
